{% extends "layout.html" %}

{% block jscripts %}
<!--<script src="{{ url_for('static', filename='javascript/account.js') }}"></script>-->
{% endblock %}

{% block content %}
    <div class="container text-center d-block text-break">
        <h1>{{ user['username'] }}'s Account Page</h1>
        <div class="content-section">
            <h1>User Information</h1>
            <hr>
            <div class="text-left">
                <img class="mx-auto d-block {{ 'pixel' if user['pixel'] }}" style="height: 225px" src="{{ user['file_path'] }}">
                <p>Username: {{ user['username'] }}</p>
                <p>Email: {{ user['email'] }}</p>
            </div>
        </div>
        <div class="content-section">
            <h1>Account Options</h1>
            <hr>
            <div class="text-left">
                <a href="/upload-profile-picture" class="d-block">Change Profile Picture</a>
                <a href="/update-email" class="d-block">Update Email</a>
                <a href="/update-password" class="d-block">Update Password</a>
                <a href="" class="d-block">Delete Account</a>
            </div>
        </div>
    </div>
{% endblock content %}
