{% extends "layout.html" %}

{% block jscripts %}
<script src="{{ url_for('static', filename='javascript/forgotten_passwords.js') }}"></script>
{% endblock %}

{% block content %}
<div id="password_container" class="container" style="max-width: 280px">
    <div id="password_valid" class="content-section">
        <form id="password_form" action="" method="post">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset</legend>

                <!-- Username -->
                <div class="form-group">
                    <label class="form-control-label" for="username">Username</label>
                    <input id="username" type="text" name="username" class="form-control form-control-lg">
                </div>

            </fieldset>

            <!-- Submit Button -->
            <div class="form-group">
                <input id="password_button" type="button" value="Reset">
            </div>

        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('routes.login') }}">Sign In</a>
            <br>
            Yet to Join Us? <a class="ml-2" href="{{ url_for('routes.register') }}">Sign up Now!</a>
        </small>
    </div>

</div>
{% endblock %}