{% extends "layout.html" %}

{% block jscripts %}
<script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 280px">
        <div class="content-section">
            <form id="login_form" action="" method="post">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>

                    <!-- Username -->
                    <div class="form-group">
                        <label class="form-control-label">Username</label>
                        <input id="login_name" type="text" name="login_name" class="form-control form-control-lg">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label class="form-control-label">Password</label>
                        <input id="password" type="password" name="password" class="form-control form-control-lg">
                    </div>
                </fieldset>

                <div class="form-group">
                    <input id="login_button" type="button" value="Login">
                </div>

            </form>
        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{{ url_for('routes.register') }}">Sign up Now!</a>
                <a class="ml-2" href="{{ url_for('routes.forgot_password') }}">Forgot Password?</a>
            </small>
        </div>
    </div>
{% endblock content %}
