{% extends "layout.html" %}
{% block content %}
<div class="col-md-auto d-flex justify-content-center">
    <div class="content-section">
        <h1>{{ photo['picture_name'] | safe }}</h1>
        <hr>
        <div class="d-flex justify-content-center">
            <img class="mb-4 img-fluid" alt="{{ photo['picture_name'] }}" src="/{{ photo['upload_path'] }}">
        </div>
        <div class="">
            <div class="row">
                <p class="font-weight-bold col-md text-md-left">Uploader: {{ photo['uploader'] | safe }}</p>
                <p class="font-weight-bold col-md text-md-right">Upload Date: {{ photo['upload_date'] }}</p>
            </div>
            <p class="">{{ photo['description'] | safe }}</p>
        </div>
    </div>
</div>
{% endblock content %}
