{% extends "layout.html" %}

{% block css %}
<style>
    input[type=radio] {
        display: none;
    }

    img:hover {
        cursor: pointer;
        opacity: 0.6;
    }

    input[type=radio]:checked + label > img {
        border: 5px solid blue;
    }

</style>
{% endblock %}

{% block jscripts %}
<script src="{{ url_for('static', filename='javascript/register.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="register_valid" class="content-section">
            <form id="register_form" method="post" action="">

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>

                    <!-- Username -->
                    <div class="form-group">
                        <label class="form-control-label" for="username">Username</label>
                        <input id="username" type="text" name="username" class="form-control form-control-lg">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label class="form-control-label" for="password">Password</label>
                        <input id="password" type="password" name="password" class="form-control form-control-lg">
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input id="email" type="email" name="email" class="form-control form-control-lg">
                    </div>

                    <!-- Profile Pic -->
                    <div class="form-group">
                        <label class="form-control-label">Profile Picture</label>
                        <div class="row">
                            {% for photo in photos %}
                                <input id="photo_form_{{ photo['photo_id'] }}" type="radio" name="profile_pic" value="{{ photo['photo_id'] }}">
                                <label for="photo_form_{{ photo['photo_id'] }}">
                                    <img width="230" style="image-rendering: pixelated" class="img-thumbnail m-2" src="{{ url_for('static', filename='images%s' % photo['upload_path']) }}">
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                </fieldset>

                <!-- Submit Button -->
                <div class="form-group">
                    <input id="register_button" type="button" value="Register">
                </div>

            </form>
        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('routes.login') }}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
