{% extends "layout.html" %}

{% block jscripts %}
<script src="{{ url_for('static', filename='javascript/update-password.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Update Form -->
        <div class="content-section">
            <form id="update_password_form" method="post" action="">

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Change Email</legend>

                    <!-- Old Password -->
                    <div class="form-group">
                        <label class="form-control-label" for="old_password">Old Password</label>
                        <input id="old_password" type="password" name="old_password" class="form-control form-control-lg">
                    </div>

                    <!-- New Password -->
                    <div class="form-group">
                        <label class="form-control-label" for="new_password">New Password</label>
                        <input id="new_password" type="password" name="new_password" class="form-control form-control-lg">
                    </div>

                </fieldset>

                <!-- Submit Button -->
                <div class="form-group">
                    <input id="update_password_button" type="button" value="Update">
                </div>

            </form>
        </div>

    </div>
{% endblock content %}
