{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div>
    <form action="/api/users/register" method="post">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br>
        Email:<br>
        <input type="email" name="email"><br>
        Profile Pic:<br>
        <input type="number" name="profile_pic"><br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}