{% extends "layout.html" %}
{% block content %}
<div>
    <h3>Title</h3>
    <img src="{{ url_for('static', filename='images/3.jpg') }}" alt="Pretty Girl" width="400" height="600">

    <p>Uploader</p>  <p>Date</p>

    <div>
        <textarea rows="4" cols="50">
Your Description will go here.
        </textarea>
    </div>
    <img src="{{ url_for('static', filename='images/4.jpg') }}" alt="Pretty Girl" width="400" height="600">

 </div>


 <p><a href="/about.html">Add a comment</a></p>




{% endblock content %}
